<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CS:GO Dashboard</title>

    <!-- Minified CSS -->
    <link rel="stylesheet" type="text/css" href="bootstrap.slate.min.css">

    <!-- Custom styles for this template -->
    <link href="misc.css" rel="stylesheet">

    <!-- AngularJS stuffs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script> 
    <script type="text/javascript" src="app.js"></script>
</head>
  <body>
    <div class="visible-xs container">
      <div class="vertical-center-row">
        <div class="alert alert-danger"><h3>This website is only usable on desktop and laptop computers&hellip;</h3><br>Are you trying to play CS:GO on your phone? If not try making the browser window larger.</div>
      </div>
    </div>
    <div class="hidden-xs">
      <video autoplay loop id="bgvid">
        <source src="http://zippy.gfycat.com/BoilingWiltedJohndory.webm" type="video/webm">
      </video>
      <div class="container">
        <div class="row">
          <div class="row">&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;</div>
          
          <div class="row">
            <div id="reloadHint" class="col-md-12" style="display:none">
              <div class="alert alert-dismissible alert-info h4">
                <button type="button" class="close" data-dismiss="alert">×</button>
                Hint: Try reloading the page to see the updated status of a server.
              </div>
            </div>
          </div>
          
          <!-- Button row -->
          <div class="row">
            
            <!-- CSGO -->
            <div class="col-md-4" ng-controller="CSGO_server_Ajax">
                <div class="btn-block btn-group-vertical">
                    <a ng-class='{disabled: !csgoLoaded}' class="btn btn-lg btn-default" href="steam://connect/csgoserver.michno.me/" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to connect to server">
                        Connect to<br><h2>CS:GO server</h2>
                    </a>
                    <a href="" class="btn btn-primary btn-lg" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Click to show {{showInfo ? 'less' : 'more'}} info" ng-init="showInfo = false" ng-click="showInfo = !showInfo" ng-class="{disabled: !(csgoData.players.length > 0)}">
                        <div ng-show="csgoLoaded" ng-cloak>
                            Server: <code>{{csgoData.query.host}}</code> 
                            <span ng-class='{"label-danger": csgoData.status == "offline", "label-success": csgoData.status == "online"}' class="label">{{csgoData.status}}</span>
                            <br><br>Map: {{csgoData.map}} | 
                            Players: {{csgoData.players.length}} / {{csgoData.maxplayers}}
                        </div>
                        <div class='h3' ng-hide="csgoLoaded">Loading&hellip;</div>
                    </a>
                </div> 
                <div class="row">&nbsp;</div>  
                <div class="panel panel-default" ng-show="showInfo">
                    <div class="panel-heading">
                        <h3 class="panel-title">Players ({{csgoData.players.length}}):</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li ng-repeat="csgo_player in csgoData.players">
                                {{csgo_player.name}} (Score: {{csgo_player.score}})
                            </li>
                        </ul>
                    </div>
                </div>  
            </div>
            
            <!-- Mumble -->  
            <div class="col-md-4" ng-controller="mumble_server_Ajax">
                <div class="btn-block btn-group-vertical">
                  <a ng-class='{disabled: !mumbleLoaded}' class="btn btn-default btn-lg" href="mumble://mumble.michno.me/?version=1.2.0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to connect to server">
                    Connect to<br><h2>Mumble Server</h2>
                  </a>  
                  <a href="" class="btn btn-primary btn-lg" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Click to show {{showInfo ? 'less' : 'more'}} info" ng-init="showInfo = false" ng-click="showInfo = !showInfo" ng-class="{disabled: !(mumbleData.players.length > 0)}">
                    <div ng-show="mumbleLoaded" ng-cloak>
                      Server: <code>{{mumbleData.query.host}}</code> 
                      <span ng-class='{"label-danger": mumbleData.status == "offline", "label-success": mumbleData.status == "online"}' class="label">{{mumbleData.status}}</span>
                      <br><br>Slots: {{mumbleData.players.length}} / {{mumbleData.maxplayers}}
                    </div>
                    <div class='h3' ng-hide="mumbleLoaded">Loading&hellip;</div>
                  </a>
                </div>
                <div class="row">&nbsp;</div>  
                <div class="panel panel-default" ng-show="showInfo">
                    <div class="panel-heading">
                        <h3 class="panel-title">Clients ({{mumbleData.players.length}}):</h3>
                    </div>
                    <div class="panel-body">  
                        Not supported at the moment&hellip;
                        <!--<ul>
                            <li ng-repeat="player in mumbleData.players">
                                {{player.name}}
                            </li>
                        </ul> -->
                    </div>
                </div>     
            </div> 
            
            <!-- Teamspeak3 -->
            <div class="col-md-4" ng-controller="ts3_server_Ajax">
                <div class="btn-block btn-group-vertical">
                    <a ng-class='{disabled: !ts3Loaded}' class="btn btn-lg btn-block btn-default" href="ts3server://ts.michno.me?port=9987" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to connect to server">
                        Connect to<br><h2>Teamspeak3 Server</h2>
                    </a>
                    <a href="" class="btn btn-primary btn-lg" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Click to show {{showInfo ? 'less' : 'more'}} info" ng-init="showInfo = false" ng-click="showInfo = !showInfo" ng-class="{disabled: !(ts3Data.players.length > 0)}">
                        <div ng-show="ts3Loaded" ng-cloak>
                            Server: <code>{{ts3Data.query.host}}</code> 
                            <span ng-class='{"label-danger": ts3Data.status == "offline", "label-success": ts3Data.status == "online"}' class="label">
                                {{ts3Data.status}}
                            </span>
                            <br><br>Slots: {{ts3Data.players.length}}
                            / {{ts3Data.maxplayers-ts3Data.raw.virtualserver_reserved_slots}}
                            (+ {{ts3Data.raw.virtualserver_reserved_slots}} reserved)
                        </div>
                        <div class='h3' ng-hide="ts3Loaded">Loading&hellip;</div>
                    </a>
                </div>
                <div class="row">&nbsp;</div>  
                <div class="panel panel-default" ng-show="showInfo">
                    <div class="panel-heading">
                        <h3 class="panel-title">Clients ({{ts3Data.players.length}}):</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li ng-repeat="ts3_client in ts3Data.players">
                                {{ts3_client.name}}
                            </li>
                        </ul>
                    </div>
                </div>  
            </div>       
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(function () { 
      $("[data-toggle='tooltip']").tooltip(); 
    });
    $('#reloadHint').delay(30000).show('fast');
    </script>
  </body>
</html>